<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Movie List</title>
    <!-- Links the external CSS file for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/update_movie.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_movies.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <h1>Indian Movie Review System</h1>
            <h2>List of Movies</h2>
        </header>
        <main>
            <!-- Unordered list for displaying the movies -->
            <ul class="movie-list">
                <!-- Loop through each movie in the `movies` list -->
                {% for movie in movies %}
                <!-- List item for each movie -->
                <li>
                    <span class="movie-id">{{ movie.id }}</span>
                    <strong class="movie-title">{{ movie.title }}</strong>
                    directed by &nbsp; <strong class="movie-director">{{ movie.director }}</strong>
                    &nbsp; <span class="movie-year">({{ movie.year }})</span>
                    <div class="movie-review"><strong>Review: </strong>{{ movie.review }}</div>
                    <span class="actions">
                        <a class="edit-link" href="/update/{{ movie.id }}">Edit</a>
                        <a class="delete-link" href="/delete/{{ movie.id }}">Delete</a>
                    </span>
                </li>
                <!-- End of the loop -->
                {% endfor %}
            </ul>
            <a class="add-link" href="/add">Add a New Movie</a>
        </main>
    </div>

</body>

</html>